{% extends 'main/base.html' %}

{% block title %}
Joo.kz
{% endblock %}

{% load static %}
    {% block maincontent %}

    <div class="block1">
        <div class="text1">
            <h1>Болашағыңды <span>дұрыс</span><br>
                жоспарла!</h1>
            <h4>Талапкерге керектің бәрі осы жерде!</h4>
            <br><br>
            <p>Қосымшаны жүктеп ал</p>
            <div class="links">
                <div class="link">
                    <img src="{% static 'main/img/appstore.svg' %}" alt="">
                </div>
                <div class="link">
                    <img src="{% static 'main/img/googleplay.svg' %}" alt="">
                </div>
                <div class="link">
                    <img src="{% static 'main/img/appgallery.svg' %}" alt="">
                </div>
            </div>
        </div>

        <img src="{% static 'main/img/img1.png' %}" alt="">
    </div>
    <div class="block2">
        <img src="https://static.tildacdn.com/tild3132-6130-4865-b066-336231646166/Subtract.svg" alt="" id="img2">
        <img src="https://static.tildacdn.com/tild6561-3937-4661-a238-626235346633/Pattern.svg" alt="" id="img3">
        <img src="https://static.tildacdn.com/tild3639-3234-4735-a535-383535363637/Group_7012.svg" alt="" id="img4">
        <div class="text2">
            <div class="subtext">
                <img src="https://static.tildacdn.com/tild6330-6535-4736-b433-333662393435/Icon.svg" alt="">
                <p>
                    <span>ҰБТ-ға дайындық</span><br>
                    Ақылды алгоритмдер арқылы сіздің осал тұстарыңызды анықтап, оқу жоспарын сіздің деңгейіңізге
                    байланысты құрамыз.
                </p>
            </div>
            <div class="subtext">
                <img src="https://static.tildacdn.com/tild3335-6363-4732-b530-623634396338/IconNews.svg" alt="">
                <p>
                    <span>Жаңалықтар</span><br>
                    Мамандық және ЖОО таңдау жайлы, оқуға түсу туралы барлық өзекті ақпаратты таба аласыз.
                </p>
            </div>
            <div class="subtext">
                <img src="https://static.tildacdn.com/tild3062-3639-4966-b762-346530373331/IconJobs.svg" alt="">
                <p>
                    <span>Мамандықтар</span><br>
                    Болашақ мамандығыңызды анықтап, қандай айлық ала алатыныңызды көре аласыз.
                </p>
            </div>
            <div class="subtext">
                <img src="https://static.tildacdn.com/tild6334-3766-4465-a535-623636383931/IconUniversity.svg"
                    alt="">
                <p>
                    <span>ЖОО</span><br>
                    Қазақстандағы бүкіл ЖОО жайлы өзекті ақпаратты көре аласыз.
                </p>
            </div>
        </div>
    </div>
    <div class="block3">
        <h1>Біз туралы түлектеріміз айтсын</h1>
        <h3>PlayMarket пен AppStore желісіндегі жүрекжарды пікірлер</h3>
        <img src="{% static 'main/img/img5.png' %}" alt="" id="img5">
        <div class="text3">
            <div>
                <h1>Талапкерлер үшін ең керемет бағдарлама</h1>
                <div class="links">
                    <div class="link">
                        <img src="{% static 'main/img/appstore.svg' %}" alt="">
                    </div>
                    <div class="link">
                        <img src="{% static 'main/img/googleplay.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <img src="https://static.tildacdn.com/tild3135-3162-4765-b931-303961653739/review_kz.svg" alt="">
        </div>
    </div>
    <div class="block4">
        <h1>Серіктес ЖОО</h1>
        <div class="list">
            <div>
                <img src="https://thumb.tildacdn.com/tild6361-6531-4734-a431-373334326463/-/resize/368x/-/format/webp/University_Logos.png" alt="">
                <p>«КАЗГЮУ» университеті</p>
            </div>
            <div>
                <img src="https://thumb.tildacdn.com/tild3365-3362-4938-b638-386165373463/-/resize/322x/-/format/webp/noroot.png" alt="" id="logo-uni" style="width: 161px">
                <p>Халықаралық ақпараттық технологиялар университет</p>
            </div>
            <div>
                <img src="https://thumb.tildacdn.com/tild3132-3264-4230-a132-613466643062/-/resize/368x/-/format/webp/University_Logos3.png" alt="" id="logo-uni">
                <p>«Астана» халықаралық университеті (AIU)</p>
            </div>
            <div>
                <img src="https://static.tildacdn.com/tild6463-3636-4532-a430-646362336561/login_1.svg" alt="" id="logo-uni">
                <p>«ЛжКА» университеті</p>
            </div>
            <div>
                <img src="https://static.tildacdn.com/tild3461-6139-4066-a331-363137343863/197-STEI3nPz-1501850.svg" alt="" id="logo-uni" style="width: 161px;">
                <p>«НАРХОЗ» университеті</p>
            </div>
            <div>
                <img src="https://static.tildacdn.com/tild3232-6533-4238-a661-383764343631/logotip.svg" alt="" id="logo-uni" style="width: 151px;">
                <p>«КГУТИ» Есенова университеті</p>
            </div>
            <div>
                <img src="https://static.tildacdn.com/tild3866-3430-4331-b138-643537303632/New_logo_SDU_1.svg" alt="" id="logo-uni" style="width: 161px;">
                <p>«СДУ» университеті</p>
            </div>
            <div>
                <img src="https://thumb.tildacdn.com/tild6264-6435-4031-a632-333763383333/-/resize/322x/-/format/webp/logosatip_1-2.png" alt="" id="logo-uni" style="width: 151px;">
                <p>«Есенов» университеті</p>
            </div>
        </div>
    </div>
    <div class="block5">
        <h1>
            БАҚ біз туралы
        </h1>
        <div class="list1">
            <div class="element">
                <img src="https://thumb.tildacdn.com/tild3137-3865-4237-b634-353864333262/-/resize/272x/-/format/webp/astana.png" alt="">
                <p>Қанат ӨКСІКБАЕВ, Jоо.kz жобасының авторы: Талапкерлердің тегін білім алуына көмектесеміз</p>
                <a href="https://www.astana-akshamy.kz/qanat-oksikbaev-joo-kz-zhobasynyng-avtory-talapkerlerding-tegin-bilim-aluyna-komektesemiz/">astana-akshamy.kz</a>
            </div>
            <div class="element">
                <img src="https://thumb.tildacdn.com/tild3866-6165-4630-b662-373566303938/-/resize/272x/-/format/webp/image_6.png" alt="">
                <p>Мемлекеттік білім грантын ұтып
                    алуға көмектесетін портал жұмыс істейді</p><br>
                <a href="https://baribar.kz/99076/memlekettik-bilim-grantyn-utyp-alugha-koemektesetin-saraptamalyq-portal-zhasaldy/">baribar.kz</a>
            </div>
            <div class="element">
                <img src="https://thumb.tildacdn.com/tild6632-3536-4138-b937-393262636364/-/resize/272x/-/format/webp/Vector.png" alt="">
                <p>Поступить из карантина. Как сервис Joo.kz помогает абитуриентам и системе образования</p>
                <a href="https://forbes.kz//process/education/postupit_izkarantina_1603418408/">forbes.kz</a>
            </div>
            <div class="element">
                <img src="https://thumb.tildacdn.com/tild3164-3261-4638-a431-316465376330/-/resize/272x/-/format/webp/logo.png" alt="">
                <p>Грантқа түсу мүмкіндігін мобильді қосымша арқылы білуге болады жоба жетекшісі</p>
                <a href="https://www.astana-akshamy.kz/qanat-oksikbaev-joo-kz-zhobasynyng-avtory-talapkerlerding-tegin-bilim-aluyna-komektesemiz/">baq.kz</a>
            </div>
        </div>
    </div>
    

{% endblock %}